h1 {
    font-size: 48px
} 
H1 {color: rgb(244, 244, 248);}
html {text-align: left;
font-size: 26px}
.list-item{
    padding: 5px
}
 {
    width: 100px;
    height: 100px;
}
 P { color:rgb(252, 251, 248); text-shadow: maroon;}

{
 background-image:url('../Vanilla.jpg');

} 